/**
 * @Author: hades
 * @Date:   2017-07-22T16:00:11+08:00
 * @Email:  i@mayuko.cn
 * @Last modified by:   hades
 * @Last modified time: 2018-05-18T17:15:47+08:00
 */

html, body {
    background: #fafafa;
}

.user-info__header {
    height: 50px;
    border-radius: 5px;
}

.post-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.post-content-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.post-content-item small {
    margin-left: 10px;
}

.post-item__header {
    flex: 1;
}

.post-item__content {
    flex-grow: 15;
    padding: 0 10px;
}

.post-item__content h4 {
    margin: 0 0 10px 5px;
}

.post-item__reply {
    flex: 1;
    flex-grow: 5;
}

.post-item__reply {
    vertical-align: middle;
}

.post-item__content h4 {
    font-size: 18px;
}

.post-item__info {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #999;
}

.post-item__info strong {
    color: #778087;
}

.post-item__info li {
    display: inline;
    font-size: 12px;
    margin: 0 5px;
}

.post-item__node {
    background: #f5f5f5;
    padding: 3px 5px;
    border-radius: 3px;
    color: #778087;
    list-style-type: none;
}

.hot-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.hot-item__header {
    flex: 1;
    flex-grow: 1;
}

.hot-item__header > img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.hot-item__title {
    flex: 1;
    flex-grow: 20;
    margin-left: 10px;
}

.help-item {
    float: left;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
}

.help-item li {
    display: inline;
    font-size: 14px;
    margin: 0 20px 0 0;
}

.forum-login small {
    margin-top: 20px;
}

.post-content-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.post-content-header__title {
    flex: 1;
    flex-grow: 15;
}

.post-content-header__img {
    flex: 1;
    flex-grow: 1;
}

.post-content-header__img img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.forum-userinfo-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.forum-userinfo-flex .user-info__header {
    flex: 1;
    flex-grow: 1;
}

.forum-userinfo-flex h4 {
    flex: 1;
    flex-grow: 10;
    margin-left: 10px;
    font-weight: 600;
}

.user-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.user-header {
    flex: 1;
    flex-grow: 1;
}

.user-header img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.user-info {
    flex: 1;
    flex-grow: 10;
    margin-left: 20px;
    font-weight: 600;
}

.user-info h3 {
    margin: 5px 0 10px 0;
}

.user-info__ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 5px 0;
    list-style-type: none;
}

.user-info__ul li {
    display: inline;
    font-size: 12px;
    margin: 0 10px 0 0;
    color: #999;
}

.reply-item-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.reply-item__content {
    flex: 1;
    flex-grow: 1;
}

.reply-item__time {
    height: 80px;
    border-radius: 4px;
}

.reply-item__topic {
    background: #f5f5f5;
    padding: 5px 20px;
    color: #999;
}

.at-item-flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.at-item__header {
    flex: 1;
    flex-grow: 1;
}

.at-item__header img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.at-item__content {
    flex: 1;
    flex-grow: 15;
}

.reply-item__delete {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.at-item__reply {
    background: #f5f5f5;
    padding: 5px 20px;
    color: #171717;
}

.admin-login {
    background: #fff;
    padding: 40px 30px;
    border-radius: 5px;
}

.admin-post__tools span:hover {
    cursor: pointer;
}

/**custom**/

.no-padding {
    padding: 0 0 0 0;
}

.no-margin {
    margin: 0 0 0 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.ten-margin {
    margin: 10px 0;
}

.ten-row-margin {
    margin: 0 10px;
}

/**rewrite**/

div {
    border: 0px solid #fff;
}

a {
    color: #171717;
    text-decoration: none;
}

a:hover, a:focus {
    color: #000;
    text-decoration: underline;
}

#post-container img, .reply-item__content img, p img {
    width: 100%;
}



span a {
    color: #fff;
}

span a:hover, span a:focus {
    color: #fff;
    text-decoration: none;
}

small {
    margin: 10px 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.list-group-item {
    border: 1px solid #dddddd;
    border-left: 0px;
    border-right: 0px;
}

.panel {
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-bottom: 0px;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #dddddd;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #171717;
}

.badge {
    background-color: #171717;
}

.nav-pills > li {
    float: left;
    font-size: 12px;
    margin: 0 8px;
}

.nav-pills > li > a {
    position: relative;
    display: block;
    padding: 4px 9px;
}

.dl-horizontal dt {
    float: left;
    width: 70px;
}

.dl-horizontal dd {
    margin-left: 100px;
}

.md-editor > textarea {
    border-radius: 0;
    box-shadow: none;
    background: #fff;
}

.md-editor > textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    outline: 0;
    margin: 0;
    display: block;
    padding: 10px;
    width: 100%;
    border: 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    border-radius: 0;
    box-shadow: none;
    background: #eee;
}

dl {
    margin-top: 0;
    margin-bottom: 14px;
}

blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 14px;
    border-left: 5px solid #f1f1f1;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: 0px solid #dddddd;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}

.modal-body {
    margin: 20px;
}

.pagination > li > a, .pagination > li > span {
    color: #171717;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #000;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #222222;
    border-color: #dddddd;
}
