.list-group-item p {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    margin: 0 0 0 0;
}

.template-btn {
    padding: 20px 0 30px 0;
}

.dashboard-item {
    margin-bottom: 60px;
}

/**rewrite**/
.page-header {
    margin: 0 0 0 0;
}