.list-group-item p {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    margin: 0 0 0 0;
}

.template-btn{
    padding: 0 0 30px 0;
}

/**rewrite**/
.page-header {
    margin: 0 0 0 0;
}